//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        no_hrm_toggle {
            bindings = <&to 3>;
            key-positions = <32 33 34>;
            layers = <0>;
        };

        base_toggle {
            bindings = <&to 0>;
            key-positions = <37 36 35>;
            layers = <3>;
        };
    };

    macros {
        mac_screenshot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(LC(NUMBER_4)))>;
            label = "SCREENSHOT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                     &kp Q  &kp W       &kp E        &kp R        &kp T        &kp Y    &kp U        &kp I            &kp O             &kp P
                     &kp A  &kp S       &kp D        &kp F        &kp G        &kp H    &kp J        &kp K            &kp L             &kp SEMI
&hm LEFT_WIN ESCAPE  &kp Z  &hm LALT X  &hm LCTRL C  &hm LSHFT V  &kp B        &kp N    &hm RSHFT M  &hm RCTRL COMMA  &hm LEFT_ALT DOT  &kp SLASH  &kp APOSTROPHE
                                        &kp DEL      &lt 1 TAB    &kp SPACE    &kp RET  &lt 2 BSPC   &lt 6 MINUS
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
              &kp TILDE        &kp F8           &kp F10              &kp F12            &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp NUMBER_7              &kp NUMBER_8                &kp NUMBER_9           &kp NUMBER_0
              &kp LEFT_SHIFT   &kp F4           &kp F5               &kp F6             &kp LEFT_BRACE      &kp RIGHT_BRACE    &kp NUMBER_4              &kp NUMBER_5                &kp NUMBER_6           &kp MINUS
&kp LEFT_WIN  &kp PRINTSCREEN  &hm LEFT_ALT F1  &hm LEFT_CONTROL F2  &hm LEFT_SHIFT F3  &kp LPAR            &kp RPAR           &hm RIGHT_SHIFT NUMBER_1  &hm RIGHT_CONTROL NUMBER_2  &hm LEFT_ALT NUMBER_3  &kp KP_MULTIPLY  &kp PLUS
                                                &trans               &trans             &trans              &trans             &trans                    &kp DOT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
              &kp EXCL         &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET      &kp AMPERSAND  &kp KP_ASTERISK  &kp GRAVE  &kp EQUAL
              &kp CAPS         &trans  &trans    &trans      &trans         &kp BACKSLASH  &trans         &kp UP_ARROW     &trans     &kp SLASH
&kp LEFT_WIN  &kp PRINTSCREEN  &trans  &trans    &trans      &trans         &kp MINUS      &kp LEFT       &kp DOWN_ARROW   &kp RIGHT  &kp HOME   &kp END
                                       &trans    &trans      &trans         &trans         &trans         &trans
            >;
        };

        no_hrm {
            display-name = "No homerow mods";
            bindings = <
         &kp Q  &kp W  &kp E    &kp R    &kp T        &kp Y      &kp U          &kp I      &kp O       &kp P
         &kp A  &kp S  &kp D    &kp F    &kp G        &kp H      &kp J          &kp K      &kp L       &kp SEMICOLON
&kp ESC  &kp Z  &kp X  &kp C    &kp V    &kp B        &kp N      &kp M          &kp COMMA  &kp PERIOD  &kp SLASH      &kp SQT
                       &kp DEL  &kp TAB  &kp SPACE    &kp ENTER  &kp BACKSPACE  &kp MINUS
            >;
        };

        Gaming {
            display-name = "Game";
            bindings = <
            &kp Z           &kp X  &kp C      &kp V         &sl 5     &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Game+";
            bindings = <
        &kp F10  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T     &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
        &kp L    &kp O         &kp Y         &kp K         &kp G     &kp F5         &kp F7         &trans  &trans  &kp F12
&trans  &to 0    &trans        &trans        &trans        &trans    &trans         &trans         &trans  &trans  &kp F22          &kp LA(F4)
                               &kp J         &kp I         &kp M     &trans         &trans         &trans
            >;
        };

        FNC_KEYS {
            bindings = <
        &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans
&kp F1  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp PRINTSCREEN  &kp F12
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
